
.button {
     -fx-background-color: #34ad92;
     -fx-border-color: transparent;


}
/*Changes here affect the buttons in the AnchorPane*/
.button:hover{
    -fx-background-color: #0a7ba3;
    -fx-border-color: transparent;
    -fx-scale-y: 1.1;
    -fx-font : 14px "serief";
    -fx-padding : 10;

}


.table-view .column-header,
.table-view .column-header-background .filler {
-fx-background-color:  #0a7ba3;

}

/*Changes here affect the header only*/
.table-view .column-header .label{
   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-alignment: CENTER;

}

/*Changes here affect the cell itself*/
.table-view .cell{
  -fx-cell-size: 35;
  -fx-alignment: center;
  -fx-text-fill: black;
  -fx-alignment: CENTER;
}

